<div class="wrapper">
    <header>
      <img src="assets/images/Mountains.png" class="background">
      <img src="assets/images/Trees.png" class="foreground">
      <h1 class="title">Garden of Eden</h1>
    </header>
    <section>
      Parallax scrolling effects look awesome, but implementing them can be pretty tricky. In this video I will show you how to implement a parallax scrolling effect and most importantly I will explain how and why the effect works so you can create your own parallax scrolling effects.
      Parallax scrolling effects look awesome, but implementing them can be pretty tricky. In this video I will show you how to implement a parallax scrolling effect and most importantly I will explain how and why the effect works so you can create your own parallax scrolling effects.
      Parallax scrolling effects look awesome, but implementing them can be pretty tricky. In this video I will show you how to implement a parallax scrolling effect and most importantly I will explain how and why the effect works so you can create your own parallax scrolling effects.
    </section>
    <section>
      Parallax scrolling effects look awesome, but implementing them can be pretty tricky. In this video I will show you how to implement a parallax scrolling effect and most importantly I will explain how and why the effect works so you can create your own parallax scrolling effects.
      Parallax scrolling effects look awesome, but implementing them can be pretty tricky. In this video I will show you how to implement a parallax scrolling effect and most importantly I will explain how and why the effect works so you can create your own parallax scrolling effects.
      Parallax scrolling effects look awesome, but implementing them can be pretty tricky. In this video I will show you how to implement a parallax scrolling effect and most importantly I will explain how and why the effect works so you can create your own parallax scrolling effects.
    </section>
    <section>
      Parallax scrolling effects look awesome, but implementing them can be pretty tricky. In this video I will show you how to implement a parallax scrolling effect and most importantly I will explain how and why the effect works so you can create your own parallax scrolling effects.
      Parallax scrolling effects look awesome, but implementing them can be pretty tricky. In this video I will show you how to implement a parallax scrolling effect and most importantly I will explain how and why the effect works so you can create your own parallax scrolling effects.
      Parallax scrolling effects look awesome, but implementing them can be pretty tricky. In this video I will show you how to implement a parallax scrolling effect and most importantly I will explain how and why the effect works so you can create your own parallax scrolling effects.
    </section>
    <section>
      Parallax scrolling effects look awesome, but implementing them can be pretty tricky. In this video I will show you how to implement a parallax scrolling effect and most importantly I will explain how and why the effect works so you can create your own parallax scrolling effects.
      Parallax scrolling effects look awesome, but implementing them can be pretty tricky. In this video I will show you how to implement a parallax scrolling effect and most importantly I will explain how and why the effect works so you can create your own parallax scrolling effects.
      Parallax scrolling effects look awesome, but implementing them can be pretty tricky. In this video I will show you how to implement a parallax scrolling effect and most importantly I will explain how and why the effect works so you can create your own parallax scrolling effects.
    </section>
    <section>
      Parallax scrolling effects look awesome, but implementing them can be pretty tricky. In this video I will show you how to implement a parallax scrolling effect and most importantly I will explain how and why the effect works so you can create your own parallax scrolling effects.
      Parallax scrolling effects look awesome, but implementing them can be pretty tricky. In this video I will show you how to implement a parallax scrolling effect and most importantly I will explain how and why the effect works so you can create your own parallax scrolling effects.
      Parallax scrolling effects look awesome, but implementing them can be pretty tricky. In this video I will show you how to implement a parallax scrolling effect and most importantly I will explain how and why the effect works so you can create your own parallax scrolling effects.
    </section>
  </div>