<div class="container">
    <header>
        <a href="#" class="logo">NatureComp</a>
        <nav>
            <img src="../assets/images/Menu.png">
        </nav>
    </header>

    <h1>Preserve Nature</h1>

    <div class="line"></div>
</div>

<div class="container secondary">
    <h2>Strategic</h2>

    <p class="subtext"></p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem optio dolore soluta suscipit accusamus qui in, molestias natus, laudantium ratione officia rerum, consequuntur aspernatur quasi. Earum sapiente dolor vero voluptate.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem optio dolore soluta suscipit accusamus qui in, molestias natus, laudantium ratione officia rerum, consequuntur aspernatur quasi. Earum sapiente dolor vero voluptate.</p>
</div>

<img src="../assets/images/Mountains2.jpg" class="mountains">
<img src="../assets/images/Tree.png" class="trees">
<img src="../assets/images/Hawk.png" class="hawk">