@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Nobile:wght@400;700&display=swap');

.container {
    padding: 2rem;
    height: 100vh;
    font-family: 'Nobile';

    &:first-child {
        display: grid;
        grid-template-rows: 10% 30% auto;
    }

    h1 {
        text-align: center;
        margin-top: 2em;
        font-weight: normal;
        font-size: 3em;
        line-height: .9em;
    }

    p {
        line-height: 1.5em;
        color: rgb(194, 194, 194);
    }

    .line {
        align-self: end;
        width: 50%;
        border-right: 1px solid white;
        height: 50%;
        margin-bottom: 4em;
        position: relative;

        &::after {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 11px 11px 0 11px;
            border-color: white transparent transparent transparent;
            right: -.7em;
            bottom: -2px;
        }
    }
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

h2 {
    color: white;
    font-size: 3em;
    margin: 0;
    width: 100%;
}

.subtext {
    margin-top: 0;
    font-size: 1.4em;
    text-transform: uppercase;
}

.secondary {
    margin-top: -3em;
}

.mountains, .trees, .hawk {
    position: absolute;
    z-index: -1;
}

.mountains {
    top: 0;
    width: 100%;
}

.trees {
    top: 58%;
    left: -30%;
    width: 70%;
}

.hawk {
    top: 50%;
    left: 70%;
    width: 10%;
}