<div class="wrapper">
  <header>
    <img src="assets/images/Italy.jpg" class="background">
    <h1 class="title">Visit Italy</h1>
  </header>
  <section>
    <h2>Landscapes that will take your breath away, rich history, and delicious food, your trip to Italy will be nothing short of unforgettable</h2>
    <h3>Get ready to explore beautiful destinations, learn about ancient cultures and savour the most loved cuisine in the world. History, art, sport, relaxation, well-being and above all food for the body and soul. Italy is the ideal Country in which to relax and recharge, without sacrificing any fun.</h3>
    <h3>Get ready to explore beautiful destinations, learn about ancient cultures and savour the most loved cuisine in the world. History, art, sport, relaxation, well-being and above all food for the body and soul. Italy is the ideal Country in which to relax and recharge, without sacrificing any fun.</h3>
  </section>
  <img src="assets/images/Italy2.jpg" class="background">
</div>