<div id="parallax">
  <h2>IT Solutions for Growing Businesses</h2>
</div>
<div>
  <h3>Credera is a global, boutique consulting firm focused on strategy, transformation, data, and technology.</h3>
  <h4>The most effective solutions are created through real collaboration with a laser focus on excellence. We believe authentic relationships and building trusted with one another and with our clients delivers tangible growth and fuels lasting business results. Our consulting firm’s mission is to make an extraordinary impact on our clients, our people, and our communities.</h4>
</div>
<div>
  <h2>Join Our Team</h2>
</div>
<div>
  <h2>Contact Us</h2>
  <p>Email: credera@hotmail.com</p>
  <p>Phone: +650 54 246 246</p>
</div>